*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-div {
    overflow-y: auto;
    overflow-x: auto;
}

.list-ul {
    background-color: #2f3032 !important;
    align-items: center;
    padding: 0 !important;
    border-radius: 0 !important;
    max-height: 30px !important;
    white-space: nowrap;
    overflow-y: hidden;
}


.list-li {
    color: rgb(137, 137, 137) !important;
    background-color: inherit !important;
    font-size: 16px;
    margin-left: 11px;
    margin-right: 10px;
    border: none !important;
    transition: color 0.15s;
}

.list-li.active {
    color: rgba(200, 200, 201, 0.896) !important;
}

.list-li:hover {
    color: rgba(218, 218, 218, 0.896) !important;
}

::-webkit-scrollbar{
        height: 4px;
        width: 4px;
        background: gray;
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: #000;
        border-radius: 10px;
    }



.admin-btn-link {
    transition: color 0.2s;
}


.admin-btn-link:hover {
    color: rgb(210, 210, 210) !important;
}


.blur-img {
    filter: blur(4px);
}

#credit-card {
    margin: 30px 10px;
    padding: 55px;
    height: 300px;
    width: inherit;
    border-radius: 15px;
    background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    color: white;
    font-size: 28px;

}

#credit-card-no {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}